.yellow {
  background: #EDC951;
}

.red {
  background: #CC333F;
}

.teal {
  background: #00A0B0;
}

.lime {
  background: limegreen;
}

.pink {
  background: pink;
}

.orange {
  background: orange;
}

.purple {
  background: purple;
}

.blue {
  background: #2196f3;
}
