.friends-index-container {
  background: #222;
  height: 510px;
  width: 300px;
  border: 8px solid #111;
  overflow: hidden;
}

.friends-index {
  height: calc(100% - 42px);
  overflow-y: scroll;
}

.friends-index-title {
  color: white;
  margin: 10px;
}
