.friends-index-container {
  background: #222;
  height: 102px;
  width: 100%;
  overflow: hidden;
}

.friends-index {
  height: calc(100% - 32px);
  overflow-y: hidden;
}

.friends-index:hover {
  overflow-y: scroll;
}

.friends-index-title {
  color: white;
  padding: 5px 10px;
}

@media (min-width: 600px) {
  .friends-index-container {
    height: 510px;
    width: 300px;
    border: 8px solid #111;
  }

  .friends-index {
    height: calc(100% - 42px);
  }

  .friends-index-title {
    padding: 0;
    margin: 10px;
  }
}
