.header-container {
  width: 100%;
  height: 50px;
  background: #222;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-title {
  display: flex;
  font-size: 30px;
  display: flex;
}

.red {
  color: red;
}

.user-container {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
}

.username {

}

.avatar {
  height: 40px;
  width: auto;
  margin: 0 20px;
  border: 1px solid white;
}

.auth-button {
  margin: 5px;
  padding: 10px;
  text-decoration: none;
  color: white;
  border: 1px solid white;
  background: transparent;
}
