.header-container {
  width: 100%;
  height: 80px;
  background: #222;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.header-title {
  display: flex;
  font-size: 30px;
  display: flex;
}

.red-text {
  color: red;
}

.user-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
}

.username {
  white-space: nowrap;
}

.avatar {
  display: none;
}

.steam-img {
  height: 20px;
  margin: 0 5px;
}

.log-out-text {
  margin: 0 5px;
  white-space: nowrap;
}

.log-out {
  border-radius: 2px;
  display: flex;
  align-items: center;
  padding: 5px;
  text-decoration: none;
  color: white;
  background: #424242;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.log-in {
  display: flex;
  align-items: center;
  margin: 0 20px;
}

.log-in > img {
  height: 32px;
}

.log-in:hover, .log-out:hover {
  cursor: pointer;
}

@media (min-width: 600px) {
  .header-container {
    height: 50px;
  }

  .user-container {
    position: absolute;
    right: 0;
    width: auto;
  }

  .avatar {
    display: inline;
    height: 40px;
    width: auto;
    margin: 0 20px;
    border: 1px solid white;
  }

  .log-out {
    margin: 0 20px;
  }


  .log-in > img {
    height: auto;
  }
}
