.main-user {
  background: #222;
  height: 67px;
  width: 100%;
  margin: 10px 0;
}

.main-user-title {
  color: white;
  padding: 5px 10px;
}

.main-user-info {
  padding: 5px 0;
  display: flex;
  color: white;
  align-items: center;
}

.main-user-info:hover {
  cursor: pointer;
  background: #9e9e9e;
}

.index-item-avatar {
  margin: 0 10px;
  height: 25px;
  width: auto;
  border: 1px solid white;
}

@media (min-width: 600px) {
  .main-user {
    background: #222;
    height: 108px;
    width: 300px;
    border: 8px solid #111;
  }

  .main-user-title {
    padding: 0;
    margin: 10px;
  }

  .main-user-info {
    padding: 5px;
  }

  .index-item-avatar {
    height: 40px;
  }
}
