.tabs-container {
  display: flex;
  color: white;
  font-size: 14px;
}

.tab {
  background: #333;
  padding: 10px;
  margin: 0 2px 0 0;
  text-align: center;
  border-radius: 10px 10px 0 0;
  overflow: hidden
}

.tab:hover {
  cursor: pointer;
}

.selected-tab {
  background: #222;
}
