.yellow, .yellow:hover {
  background: #EDC951;
}

.red, .red:hover {
  background: #CC333F;
}

.teal, .teal:hover {
  background: #00A0B0;
}

.lime, .lime:hover {
  background: limegreen;
}

.pink, .pink:hover {
  background: pink;
}

.orange, .orange:hover {
  background: orange;
}

.purple, .purple:hover {
  background: purple;
}

.blue, .blue:hover {
  background: #2196f3;
}
